// header
.mat-toolbar-row {
  justify-content: center;
  padding-top: 6vh;
  padding-bottom: 6vh;
  .mat-raised-button {
    margin-left: 5vw;
  }
}

// cards
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .mat-card {
    margin: 10px 5px 0 5px;
    width: 400px;
    height: 130px;
    .mat-card-footer {
      bottom: 10px;
    }
  }
  .filler {
    width: 400px;
    margin: 0 5px 0 5px;
    padding: 0 24px 0 24px;
  }
}