<md-toolbar>
  <md-input-container>
    <input mdInput placeholder="Username" [(ngModel)]="userInput">
  </md-input-container>
  <button md-raised-button (click)="searchRepos()" [disabled]="searchDisabled">Get repositories</button>
</md-toolbar>

<md-progress-bar [class.hidden]="!loading" mode="indeterminate"></md-progress-bar>

<div class="cards-container" *ngIf="!loading">

  <md-card *ngIf="!loading && repos === null">No such user</md-card>
  <md-card *ngIf="!loading && repos && repos.length === 0">No repositories to show</md-card>

  <md-card *ngFor="let repo of repos">
    <md-card-header>
      <img md-card-avatar [src]="repo.avatar_url" />
      <md-card-title>{{repo.name}}</md-card-title>
      <md-card-subtitle>{{repo.owner}}</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <p>{{repo.description}}</p>
    </md-card-content>
    <md-card-footer>
      <button md-button>
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
          <path fill="#000000" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" />
      </svg>
      {{repo.stars}}
      </button>
      <button md-button>
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
          <path fill="#000000" d="M8,3A2,2 0 0,0 6,5V9A2,2 0 0,1 4,11H3V13H4A2,2 0 0,1 6,15V19A2,2 0 0,0 8,21H10V19H8V14A2,2 0 0,0 6,12A2,2 0 0,0 8,10V5H10V3M16,3A2,2 0 0,1 18,5V9A2,2 0 0,0 20,11H21V13H20A2,2 0 0,0 18,15V19A2,2 0 0,1 16,21H14V19H16V14A2,2 0 0,1 18,12A2,2 0 0,1 16,10V5H14V3H16Z" />
        </svg>
        {{repo.language}}
      </button>
      <button md-button>
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
          <path fill="#000000" d="M3,4V12.5L6,9.5L9,13C10,14 10,15 10,15V21H14V14C14,14 14,13 13.47,12C12.94,11 12,10 12,10L9,6.58L11.5,4M18,4L13.54,8.47L14,9C14,9 14.93,10 15.47,11C15.68,11.4 15.8,11.79 15.87,12.13L21,7" />
        </svg>
        {{repo.forks}}
      </button>
    </md-card-footer>
  </md-card>

  <div class="filler" *ngIf="repos && repos.length"></div>
  <div class="filler" *ngIf="repos && repos.length"></div>
  <div class="filler" *ngIf="repos && repos.length"></div>
  <div class="filler" *ngIf="repos && repos.length"></div>
  <div class="filler" *ngIf="repos && repos.length"></div>
  <div class="filler" *ngIf="repos && repos.length"></div>
  <div class="filler" *ngIf="repos && repos.length"></div>
  <div class="filler" *ngIf="repos && repos.length"></div>

</div>
